html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;

  background: #f2f2f2;

  font-size: 18px;
  color: #333;
}

a:link {
  color: #000;
}

a:hover {
  color: #444;
}

a:active {
  color: #666;
}

a:visited {
  color: #666;
}

.navbar {
  min-height: 24px;
  background: #333;
  padding: 10px 20px 10px 20px;

  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.fill-width {
  width: 100% !important;
}

.container {
  width: inherit;
}

.form-content {
  width: 70%;
  display: inline-table;
  text-align: left;
}

.form-line {
  width: 100%;
  min-height: 78px;
}

.half {
  width: 50%;
}

input {
  display: block;
  margin: 0;
  width: 96%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;

  padding: 2%;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

.container button, input[type="submit"] {
  width: auto;
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;

  padding: 10px 20px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.container button:hover, input[type="submit"]:hover{
  outline: none;
  border-bottom: solid 2px #969696;
  cursor: pointer;
}

.container button:active, input[type="submit"]:active {
  outline: none;
  border-bottom: solid 2px #969696;
  background: #f2f2f2;
  cursor: pointer;
}

.navbar-container a:link {
  color: #FFF !important;
  text-decoration: none;
}

.navbar-container a:hover {
  color: #AAA !important;
}

.navbar-container a:active {
  color: #CCC !important;
}

.navbar-container a:visited {
  color: #AAA !important;
}

.navbar-container {
  position: relative;
}

.right {
  position: absolute;
  right: 0px;
}

.left {
  position: absolute;
  left: 0px;
}

.text-center {
  text-align: center;
}

.footer {
  width: 100%;
  height: 40px;

  font-size: 16px;
  font-weight: bold;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
