<div class="text-center">
  <form name="loginForm" ng-submit="login.submitForm(loginForm)">
    <h2 class="form-signin-heading">IDENTIFY</h2>

    <div class="form-content">

    <div class="form-line">
      <label for="inputEmail" class="sr-only">EMAIL</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="EMAIL" required autofocus ng-model="login.formObj.user.email">
    </div>

    <div class="form-line">
      <label for="inputPassword" class="sr-only">PASSWORD</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="PASSWORD" required ng-model="login.formObj.user.password">
    </div>

    <div class="form-line">
      <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
    </div>

    </div>
  </form>

  <div>
    <a ui-sref="root.join">Do you still haven't an account?</a>
  </div>
</div>
